.cart-item {
    width: 100%;
    height: 80px;
    display: flex;
    margin-bottom: 2px;
    padding: 5px 0;
    border-bottom: 1px solid var(--ter);

    img {
        width: 30%;
    }

    .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;
    }
}